@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body {
  font-family: 'Outfit', sans-serif;
}

iframe {
  outline: none;
}

hr {
  border: 0;
  height: 5px;
  background-color: black;
}
